@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Work+Sans&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(assets/paper.png); */
}
#calculator{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 400px;
    background-color: gray;
    border: 10px solid black;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display{
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 5px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    height: 50px;
    padding-right: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.workings{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 15px;
    justify-content: center;
}
.number, .operation, .clear, .equal {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}
.number{
    background-color: black ;
    border-color: black;
}
.number:hover{
    background-color: rgb(72, 72, 72);
    border-color: rgb(72, 72, 72);
}
.operation, .equal{
    background-color: orange;
    border-color: orange;
}
.operation:hover{
    background-color: rgb(255, 140, 0);
    border-color: rgb(255, 140, 0);
}
.clear {
    background-color: red;
    border-color: red;
}
.clear:hover{
    background-color: rgb(191, 29, 29);
    border-color: rgb(191, 29, 29);
}

